.product-card {
  border: 2px solid #DEDEDE;
  border-radius: 20px;
  padding: 0;
  width: 100%;
  position: relative;

  &__name {
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    margin: 18px 77px 22px 36px;
  }

  &__price {
    line-height: 29px;
    font-size: 21px;
    font-weight: 500;
    margin-right: 112px;
    margin-left: 35px;
  }

  &__arrow-icon {
    @include clear-button;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: #000;
    background-image: url("../img/arrow-for-button.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 320px) {
      margin: -15px;
    }

    @media (min-width: 768px) {
      margin: -5px;
    }
  }
}
